{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
<nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ index_url }}">{{ template_pack|title }}</a></li>
          <li class="breadcrumb-item active" aria-current="page"> {{class_name}} </li>
        </ol>
    </nav>
</nav>
{% endblock %}

{% block content %}
    <section>
    {{ docstring|safe }}
    <hr>
    {% if template_pack == "bootstrap4" %}
        {% crispy form form.helper "bootstrap4" %}
    {% endif %}
    {% if template_pack == "bootstrap5" %}
        {% crispy form form.helper "bootstrap5" %}
    {% endif %}
    </section>
{% endblock %}
