{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block styles %}

{% endblock  %}

{% block breadcrumb %}
<nav>
    <nav {% if template_pack == "bulma" %}class="breadcrumb" {% endif %}aria-label="breadcrumb">
        <ol {% if template_pack != "bulma" %}class="breadcrumb"{% endif %}>
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">
            <a href="{{ index_url }}">
            {% if template_pack == "tailwind" %}
                {% include "includes/arrow-right.html" %}
            {% endif %}
            {{ template_pack|title }}
            </a>
          </li>
          <li class="breadcrumb-item {% if template_pack == "bulma" %}is-{% endif %}active" aria-current="page">
            {% if template_pack == "tailwind" %}
                {% include "includes/arrow-right.html" %}
            {% endif %}
            {{class_name}} 
          </li>
        </ol>
    </nav>
</nav>
{% endblock %}

{% block content %}
    <section>
      <div {% if template_pack == "tailwind" %}class="prose sm:max-w-4xl mb-3"{% endif %}{% if template_pack == "bulma" %}class="content"{% endif %}>
        {{ docstring|safe }}
        <hr>
      </div>
    {% if template_pack == "bootstrap4" %}
        {% crispy form form.helper "bootstrap4" %}
    {% endif %}
    {% if template_pack == "bootstrap5" %}
        {% crispy form form.helper "bootstrap5" %}
    {% endif %}
    {% if template_pack == "tailwind" %}
        {% crispy form form.helper "tailwind" %}
    {% endif %}
    {% if template_pack == "bulma" %}
        {% crispy form form.helper "bulma" %}
    {% endif %}
    </section>
{% endblock %}

{% block extrafoot %}
    {{ media }}
{% endblock %}
